{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Our Services</h2>
        <p class="lh-copy tc">ENGLISH ENGLISH ENGLISH
            Nous rassemblons une équipe de consultants, d'ingénieurs et de gestionnaires 
            de projets, spécialisés en hydroélectricité, solaire, transport et distribution 
            d’énergie dans le but d'offrir des solutions adaptées à nos clients. Nous avons 
            établi une présence mondiale au travers de nombreux projets pour différentes 
            utilités publiques ou clients privés en Amérique du Nord, en Europe, en Afrique.
        </p>
    </div>
</div>

<div class="services-cards cf">
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_develop.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Développement de projet
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_gestion.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Gestion de contrat et de construction
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_ingenerie.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Ingénérie de production, transport et distribution d'énergie
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_etudes.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Études d'impact social et environnemental
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_expert.jpg">
            <p class="lh-copy ma0 ph4 white f3 f5-l fw7 tc">
                Expertise en énergie
            </p>
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Mandats</h2>
    </div>
    <div class="mw9 center cf">
        <div class="fl w-100 w-50-m w-25-l ph4">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_repguinee.jpg" class="w-100 db" alt="République de Guinée">
                    <small class="ph3 pv2 f6 fw7 ttu white">République de Guinée</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Fleuve Mono à Tététou</small>
                    <h3 class="f5 vert1">Études de préfaisabilité pour 10 sites hydroélectriques</h3>
                    <p class="f6 lh-copy">
                        Ces études de préfaisabilité doivent permettre de définir 
                        les concepts préliminaires pour ces différents sites et de 
                        présenter aux ministères et aux différents bailleurs 
                        internationaux un plan de développement de centrales de 
                        la production hydroélectrique.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph4">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_liberia.jpg" class="w-100 db" alt="Guinée, Libéria, Sierra Léone">
                    <small class="ph3 pv2 f6 fw7 ttu white">Guinée, Libéria, Sierra Léone</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Fleuve Mano à Kongo</small>
                    <h3 class="f5 vert1">Étude de diagnostic pour le projet hydroélectrique sur le fleuve Mano</h3>
                    <p class="f6 lh-copy">
                        Depuis l’étude de faisabilité de 1981, le Libéria et la 
                        Sierra Léone ont créé deux parcs nationaux. Le mandat 
                        consiste à évaluer les impacts environnementaux, sociaux, 
                        sur la biodiversité et les changements climatiques. Il doit 
                        aussi proposer les mesures de mitigation/compensation et des 
                        solutions techniques alternatives.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph4">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_togo.jpg" class="w-100 db" alt="Togo">
                    <small class="ph3 pv2 f6 fw7 ttu white">Togo</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Centrale de Kpimé</small>
                    <h3 class="f5 vert1">Vérification diligente (Due diligence) de la centrale hydroélectrique de Kpimé</h3>
                    <p class="f6 lh-copy">
                        La centrale de Kpimé, d’une puissance de 1,6 MW, représente 
                        un actif important pour la CEET, puisque qu’elle participe au 
                        soutien du réseau pour la ville de Kpalimé, dans un contexte de 
                        déficit énergétique au Togo.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph4">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_repdemocongo.jpg" class="w-100 db" alt="République Démocratique du Congo">
                    <small class="ph3 pv2 f6 fw7 ttu white">République Démocratique du Congo</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Fleuve Mono à Tététou</small>
                    <h3 class="f5 vert1">Assistance technique sur le projet INGA</h3>
                    <p class="f6 lh-copy">
                        La RDC dispose d’un potentiel hydroélectrique de plus de 
                        100 000 MW dont 44 000 MW localisés sur le seul site d’Inga. 
                        Le Projet INGA 3 Basse Chute (4800 MW) correspond à la première 
                        étape du Projet Grand Inga.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="psides tc mt4 mb5">
    <a href="/contact-us/" class="f4 link ph4 pv3 mv2 dib bg-vert1 white mr3">Contact Us</a>
</div>
{{ end }}
