{{ define "main" }}
SAAARVICE
<div class="pv5 psides bg-near-white">
    <div class="mw7 center">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw4 tc">Pour contacter DERA</h2>
    </div>
</div>

<div class="psides bg-white">
    <div class="mw8 center cf mb5 contact-wrap">
        <div class="fl w-100 w-50-m w-50-l ph3">
          <article class="bg-white br3 pt3 pt4-ns mv3 ba b--black-10">
            <div class="tc">
              <img src="/images/contact_richard.png" class="br-100 h4 h5-l w4 w5-l center dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
              <div class="pa3 pa4-l f6 f5-l">
                  <h3 class="f5 tc lh-copy">
                      Richard Voisin, ing., MBA, PMP
                      <small class="f6 gris1 db">Président</small>
                  </h3>
                  <p class="lh-copy mb4 tl">
                      Plus de 35 ans d’expérience dans le secteur des énergies 
                      renouvelables en tant qu’expert dans les projets d’hydroélectricité, 
                      barrages, en conception, maintenance, gestion de projets et 
                      administration de contrats.
                  </p>
                  <p class="lh-copy mb4 tl">
                      <strong>Canada</strong> : +1 (438) 985-8837<br>
                      <strong>Guinée</strong> : +224 625 055 518<br>
                      <a class="bleu2 fw7 dib mt3" href="mailto:rvoisin@deraenergy.com">rvoisin@deraenergy.com</a>
                  </p>
              </div>
            </div>
          </article>
        </div>

        <div class="fl w-100 w-50-m w-50-l ph3">
          <article class="bg-white br3 pt3 pt4-ns mv3 ba b--black-10">
            <div class="tc">
              <img src="/images/contact_jf.png" class="br-100 h4 h5-l w4 w5-l center dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
              <div class="pa3 pa4-l f6 f5-l">
                  <h3 class="f5 tc lh-copy">
                      Jean-François Chénier, ing., M.Sc., CVS
                      <small class="f6 gris1 db">Vice-Président, Développement des affaires</small>
                  </h3>
                  <p class="lh-copy mb4 tl">
                      Ingénieur et gestionnaire de projets multidisciplinaires depuis 
                      plus de 23 ans, M. Chénier a travaillé au sein d’entreprises 
                      manufacturières et de génie-conseil, dans des postes de direction 
                      de projets et de développement commerciale, avec des organisations 
                      importantes dans le secteur de l’énergie et du transport.
                  </p>
                  <p class="lh-copy mb4 tl">
                      <strong>Canada</strong> : +1 (438) 888-7412<br>
                      <strong>Guinée</strong> : +224 625 463 067<br>
                      <a class="bleu2 fw7 dib mt3" href="mailto:jfchenier@deraenergy.com">jfchenier@deraenergy.com</a>
                  </p>
              </div>
            </div>
          </article>
        </div>

    </div>
</div>
{{ end }}
